.page-item.active .page-link {
    color: #3e444a !important;
    background-color: #d29c9c !important;
    border: 1px solid #3e444a !important;
}

.page-link {
    color: #3e444a!important;
    background-color: #b3ac96!important;
    border: 1px solid #3e444a!important;
}

.page-link:focus {
    outline: 0 !important;
    box-shadow: none !important;
}